.header_top{
    background-color: black;
    width: 100%;
    height: 55px;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.header_top-image{
    width: 13%;
    height: 60px;
    padding: 8px 15px;
    display: flex;
    justify-content:center ;
    align-items: center;
}

.header_top-image img {
    height: 50px;
    width: auto;
    object-fit: contain;
}

.header_top-Searchbar{
    width: 70%;
    height: 40px ;       
    display: flex;
    justify-content: center;
    align-items: center;
}


.header_top-Searchbar input{
    width: 100%;
    height: 35px;
}    

.header_top-SearchIcon{
    background-color: #f0c14b;
    width: 35px;
    height: 35px;
    display: flex;
    justify-content: center;
    border-top: 1px solid #f0c14b;
    align-items: center;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}
.header_top-SearchIcon button {
    background-color: transparent;
    border: none;

}

.header_top-options{
    display: flex;
    padding: 0 20px;
    width: 20%;
    justify-content: space-around;
    font-size: smaller;
}
.header_top-options span{
    font-weight: bold;
}
.header_top-option-signIn,
.header_top-option-orders,
.header_top-option-prime {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
    padding-left: 0; 
}
.header_top-option-cart{
    display: flex;
    align-items: center;
    justify-content: center;
}
.header_top-option-cart span {
    margin-left: 5px;
}
.header_top-image img:hover, 
.header_top-option-signIn:hover,
.header_top-option-orders:hover,
.header_top-option-prime:hover{
    border: 1px solid white;
    padding:6px;
    margin: 2px;
}