.header_bottom{
    width: 100%;
    height: 45px;
    padding: 0 20px;
    background-color:#232f3e;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.header_bottom-adress{
    width: 13%;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.header_bottom-adress button {
    display: flex;
    justify-content: flex-start;
    background-color: transparent;
    border: none;
    color: white;
}
.header_bottom-adress button svg {
    display: flex;
    justify-content: flex-start;
}
.header_bottom-adressText{
    margin-left: 3px;
}
.header_bottom-adressText--Bonjour{
    display: flex;
    font-size: smaller;
}
.header_bottom-adressText--adress{
    font-weight: bold;
}
.header_bottom-adress button span {
   justify-content: flex-start;
   float: left;
}

.header_bottom-options{
    display: flex;
    justify-content: space-between;
    width: 75%;
}
.header_bottom-options a {
    color: white;
    font-weight: 500;
    text-decoration: none;
    margin:5px 1px 6px 0;
    font-size: smaller;
}
.header_bottom-options div:hover {
    border: 1px solid white;
    padding: 5px;
    
}