.home{
    background: #f2f2f2;
}
.home__container{
    display: flex;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    max-width: 1500px;
}
.home__row{
    display: flex;
    justify-content: center;
    margin: 0 15%;
    z-index: 1;
    
}
.home__image{
    width: 100%;
    z-index: 0;
    margin-bottom: -150px;
    mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1),  rgba(0, 0, 0, 0));
}