.product{
    min-width: 400px;
    height: 400px;
    padding: 15px;
    margin: 10px;
    background: white;
    position: relative;
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.product__infos{
    height: 100px;
    margin-bottom: 15px;
}


.product__price{
    margin-top: 5px;
}

.product__rating{
    display: flex;
    justify-content: flex-start;
}

.product__image {
    max-height: 250px;
    max-width: 250px ;
    object-fit: contain;
    margin-bottom: 15px;
}
.product > button { 
    background-color: #f0c14b;
    border: 1px solid ;
    margin-top: 10px;
    border-color: #a88734 #9c7e31 #846a29;
    color: #111;
} 